@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-display {
    font-family: var(--font-display), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  }
}


.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

@media (min-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
  }
  @layer utilities {
  .scrollbar-hide::-webkit-scrollbar { display: none; }
  .scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
}
}

